<div class="container-fluid about-container">
    <h1 class="display-3">Інструкція</h1>
    <p class="lead text-justify about-container__text">
        Для початку роботи з сервісом для оформлення бібліографічних посилань та бібліографічного опису необхідно перейти до однієї з
        вкладок "Посилання" чи "Бібліографічний опис", за допомогою навігаційної панелі або
        натисниту на один з пунктів "Створити посилання" чи "Оформити опис" на початковій сторінці.<br>
        Після переходу до однієї з вкладок, у правій частині необхідно обрати тип наукової роботи,
        на яку здійснюється посилання чи створюється бібліографічний опис, кількість авторів або укладачів та
        мову перекладу (оригінальну мову на якій написана наукова робота).
    </p>
    <div class="about-container__container-img">
        <img src="../../assets/img/main.png"
            class="justify-content-center about-container__container-img__img col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <img src="../../assets/img/refer.png"
            class="justify-content-center about-container__container-img__img col-lg-6 col-md-12 col-sm-12 col-xs-12">
    </div>
    <p class="lead text-justify about-container__text">
        Обрав необхідну категорію для оформлення бібліографічного посилання чи опису, на екрані з’являться поля для
        заповнення інформації про роботу, наприклад: якщо ви обрали книгу з двома авторами, то необхідно заповнити
        інформацію про ПІБ авторів, назву наукової роботи (книги), тип роботи, видавництво, місто та рік видання,
        кількість сторінок, за редакцією та, для бібліографічного опису, нотатки.<br>
        Для оформлення депонованих наукових робіт, неопублікованих перекладів, перекладених ресурсів оберіть тип джерела
        "Книга" та доповніть поле з нотатками необхідною інформацією.<br>
        Після того, як необхідні поля будуть заповнені, необхідно натиснути на кнопку «Створити посилання
        (опис)».
        Оформлене посилання та транслітерація буде відображено у блоці під назвою «Бібліографічні посилання
        (Бібліографічний опис)».<br>
    </p>
    <div class="text-center about-container__container-img">
        <img src="../../assets/img/content.png"
            class="about-container__container-img__img-about justify-content-center col-lg-9 col-md-12 col-sm-12">
    </div>
    <p class="lead text-justify about-container__text">
        Наявна можливість завантажити створенні посилання або зберегти у необхідному форматі для статті, 
        також окреме посилання можно скопіювати або видалити за непотреби чи видалити усі створені посилання.<br>
        Створенні посилання зберігаються у таблиці після закриття сторінки браузера або самого браузера. 
        Для зручної роботи з великим обсягом раніше створених посилань, вбудовано такі можливості, як: 
    </p>
    <ul>
        <li>відображення створиних посилань у обсязі від 5 до 20 рядків у таблиці;</li>
        <li>можливість пересування між початковою та останньою сторінкамі таблиці;</li>
        <li>пошук посилань за ключовими словами за рядком "Пошук посилань/за бібліографічним описом";</li>
        <li>сортування створених посилань за алфавітом.</li>
    </ul>
    <p class="lead text-justify about-container__text">
        ONAFT4Ref відповідає стандарту
        <a class="lead about-container__link" href="http://library.onaft.edu.ua/rul_of_bibl_direct/dstu-8302-2015.pdf"
            target="_blank">ДСТУ
            8302:2015</a>
        та оформлює бібліографічні стандарти по
        <a class="lead about-container__link"
            href="http://library.onaft.edu.ua/rul_of_bibl_direct/Pryklady_posylan_onov.pdf" target="_blank">наведеному
            прикладу.</a>
    </p>
</div>