<div class="container-fluid col-sm-12 col-g-12 col-md-12 content">
    <div class="content-title col-lg-8 col-md-12 col-sm-12">
        <div class="content-title-line"></div>
        <span class="content-title-text">ONAFT4Ref Manager</span>
        <div class="content-title-line"></div>
    </div>
    <h1 class="display-3">Реферативний менеджер</h1>
    <p class="lead col-lg-8 col-md-12 col-sm-12">сервіс для автоматизованого оформлення бібліографічних посилань та бібіліографічного
        опису за повним переліком наукових робіт,
        завдяки зручному інструментарію та адаптивності під будь-які пристрої</p>
    <div class="content-navigation col-lg-8 col-md-8 col-sm-12">
        <a class="content-btn content-btn-reference" href="#" role="button" routerLink="/references">Створити посилання</a>
        <a class="content-btn content-btn-bibliography" href="#" role="button" routerLink="/bibliography">Оформити опис</a>
    </div>
</div>