<nav class="navbar navbar-expand-lg navbar-dark col-lg-12 col-md-12 col-sm-12">
  <div class="navbar-main">
    <span class="navbar-main-img"><img src="assets/img/quill.png">ONAFT4Ref</span>
    <span class="navbar-main-separator">,</span>
    <span class="navbar-main-text"> 2020. All rights reserved.</span>
  </div>
  <div class="text-white col-lg-12 col-md-12 col-sm-12 navbar-created">
    <span>
      Created by <a href="https://www.linkedin.com/in/ivanovaanastasiia/" target="_blank" class="text-white">Anastasiia
        Ivanova</a>
    </span>
  </div>
</nav>