/** @paddings */
$padXXS: 6px;
$padXs: 12px;
$padSm: 16px;
$padMd: 18px;
$padBg: 24px;
$padLg: 32px;

/** @fonts */
$fontXs: 12px;
$fontSm: 14px;
$fontMd: 16px;
$fontBg: 18px;
$fontLg: 22px;
$fontXLg: 32px;

/** @widths */
$resourceWidth: 300px;
$resourceWidthSm: 250px;
$dropdownWidth: 180px;
$dropdownWidthSm: 150px;

/** @image size */
$imgSm: 16px;
$imgMd: 24px;
$imgBg: 32px;
$imgLg: 42px;

/** @colors */
$white: #fff;
$orange: #d79953;
$lightOrange: #efd065;
$darkOrange: #d78737;
$porsche: #e7a969;
$dark: #050512;
$paleSky: #6c757d;
$lightGray: #ccc;
$transparentDark: rgba(0, 0, 0, 0.4);

/** @letter-spacing */
$letterSpacingSm: 0.5px;
$letterSpacingMd: 2px;
